body {
    min-width: 960px;
}

.container {
    width: 940px;
    padding: 0 10px;
    margin-top: 40px;
    background-color: none;
}

h1 {
    font-size: 24px;
}

.carousel {
    margin-top: 40px;
}

.carousel-caption {
    left: 20px;
    top: 0;
    padding: 0;
    height: 50px;
    width: 880px;
}
.carousel-shadow {
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}

.carousel-caption h3 {
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.carousel-control {
    width: 40px;
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.carousel-indicators {
    right: 20px;
    bottom: 10px;
    margin-bottom: 0;
}