.container {
    margin-top: 0;
}

.layout__left {
    width: 230px;
    background-color: #e7f1fc;
    display: inline-block;
    padding-top: 30px;
    float: left;
}

.layout__right {
    display: inline-block;
    padding-top: 30px;
    vertical-align: top;
    width: 690px;

    .message {
        margin-left: 10px;
    }
}

.service-categories {
    padding-left: 0;
}

.service-categories__category {
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 0 8px 10px;

    a {
        color: #2c5f8f;
        text-decoration: underline;
    }

    &.active {
        background-color: #fff;
        border-left: 2px solid #bf2e1b;
        padding-left: 8px;

        a {
            color: #000;
            text-decoration: none;
        }
    }
}

.services-TOC {
    list-style-type: none;
    padding-left: 0;
    margin-left: 8px;
    margin-bottom: 20px;

    font-size: 14px;
    line-height: 24px;

    a {
        color: #2c5f8f;
        text-decoration: underline;
    }
}

.services__service {
    margin-bottom: 30px;
}

.servicess__img {
    max-width: 680px;
    margin-left: 10px;
}

.services__title {
    font-size: 18px;
    line-height: 24px;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e7f1fc;
}

.services__brief {
    padding: 0 10px;
    margin-top: 10px;
    line-height: 24px;
}

.services__more {
    margin-left: 10px;
    color: #2c5f8f;
    text-decoration: underline;
}